/* フォーム全体のスタイル */
.post_form_container {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

/* エラーメッセージ */
.post_form_error {
    color: red;
    margin-bottom: 20px;
}

/* ラベル */
.post_form_label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* テキスト入力 */
.post_form_input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

/* テキストエリア */
.post_form_textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    resize: vertical;
}

/* 送信ボタン */
.post_form_submit_button {
    background-color: #007bff;
    color: white;
    padding: 10px 30px;
    display: block;
    margin :0 auto;
}

/* ボタンの無効化 */
.post_form_disable_button {
    background-color: rgb(184, 184, 184);
    color: rgb(121, 121, 121);
    cursor: not-allowed;
}

/* リンク */
.post_form_back_link {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}

.post_form_back_link:hover {
    text-decoration: underline;
}
