/* 新規作成ボタン */
.posts_detail_view_create_button {
    background-color: #28a745;
    margin-bottom: 15px;
}

/* 各投稿のスタイル */
.posts_detail_view_post {
    margin-bottom: 20px;
}

.posts_detail_view_post p {
    margin: 5px 0;
}

.posts_detail_view_post{
    border-top: 1px solid #ccc;
    padding:5px;
}

/* 投稿一覧画面の投稿内のボタン 共通スタイル */
.posts_detail_view_button{
    padding:5px 20px;
    margin-top: 5px;
}

/* 詳細ボタン */
.posts_detail_view_detail_button {
    background-color: #007bff;
}

/* 編集ボタン */
.posts_detail_view_edit_button {
    background-color: #ffc107;
    color: white;
    text-decoration: none;
}

/* 削除ボタン */
.posts_detail_view_delete_form {
    display: inline-block;
}

.posts_detail_view_delete_button {
    background-color: #dc3545;
}

.posts_detail_view_disable_button{
    background-color: rgb(184, 184, 184);
    color: rgb(121, 121, 121);
}